---
import H1 from "../components/H1.astro";
import H2 from "../components/H2.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Page not found | Halvor Teigen" >
    <main class="m-auto p-4 max-w-3xl text-white">
        <H1 preText="Page " gradientText="not found" />
        <H2 text="Sorry, this page was not found or hasn't been created yet." />
      </main>
</MainLayout>