---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import H1 from "../components/H1.astro";
import CapabilityLevels from "../components/CapabilityLevels.astro";
import techLightsBackgroundImage from "../assets/images/tech-lights-bg.jpg";
---

<MainLayout title="Capabilities | Halvor Teigen">
  <section>
    <Image
      src={techLightsBackgroundImage}
      alt=""
      class="fixed -z-10 top-0 align-top opacity-20 w-full h-full object-cover"
    />
    <main class="m-auto p-4 max-w-3xl text-white">
      <H1 preText="My main " gradientText="capabilities" />
      <h2 class="text-3xl font-light text-center capitalize mb-12">
        knowledge level in my main capabilities
      </h2>
      <CapabilityLevels />
    </main>
  </section>
</MainLayout>
