---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout title="Halvor Teigen">
  <Header />
  <section class="hero-section">
    <img
      src="halvor-bg.jpg"
      alt="Image of Halvor Teigen"
      class="fixed -z-10 -top-24 opacity-20"
    />
    <main>
      <h1 class="text-6xl font-bold text-center mt-20 mb-20">
        Hi, I'm <span
          class="bg-gradient-to-r from-orange-500 to-orange-300 bg-clip-text text-transparent"
          >Halvor Teigen</span
        >
      </h1>
      <h2 class="text-3xl font-light text-center capitalize">
        Backend developer & DevOps enthusiast
      </h2>
      <div
        class="mb-8 mt-32 p-16 bg-black text-center rounded-xl flex flex-col items-center justify-center"
      >
        <img src="/logo.svg" class="mb-10 w-20" alt="Halvor Teigen Logo" />
        <p class="ingress">
          As a software engineer with the <strong>everything-can-be-learned</strong> mentality, 
          I believe that every project I work on is an opportunity to further develop my skills and knowledge. 
          I am dedicated to producing work that I am proud of, and I strive to deliver the best <strong>quality</strong> possible. 
          I value collaboration and believe that teamwork and <strong>knowledge sharing</strong> is the key to success.
        </p>
      </div>
    </main>
  </section>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 18px;
    line-height: 1.5;
  }
  .ingress code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .ingress strong {
    @apply text-orange-300 opacity-80;
  }
</style>
