---
import H1 from "../components/H1.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Halvor Teigen">
  <main class="m-auto p-4 max-w-3xl text-white">
    <div class="mt-32 mb-10">
      <H1 preText="Privacy " gradientText="Policy" />
      <p>
        We use Google Analytics to collect analytics data from the website. We
        need this data to understand how you use our website so we can improve
        its design and functionality.
      </p>
      <br />
      <p>
        With your consent, Google Analytics will process and collect your
        personal data (cookies and IP address). Google Analytics will transfer
        your data to the United States and store it for a limited amount of
        time.
      </p>
      <br />
      <p>
        Standard contractual clauses are legal clauses written by the European
        Commission. They are part of a contract between Google Norway Ltd. and
        Google LLC, and Google LLC must follow them. Standard contractual
        clauses tell Google LLC what it can and cannot do with your data
      </p>
      <br />
      <p>
        We are available to answer any question and handle any request from you.
        Get in touch through the Contact link at the top of the page if you have
        any questions.
      </p>
    </div>
  </main>
</MainLayout>
