---
interface Capability {
  name: string;
  levelClass: string;
}

const capabilities: Capability[] = [
  {
    name: "JAVA",
    levelClass: "w-full",
  },
  {
    name: "CI/CD",
    levelClass: "w-3/4",
  },
  {
    name: "KUBERNETES",
    levelClass: "w-2/3",
  },
  {
    name: "KAFKA",
    levelClass: "w-4/5",
  },
  {
    name: "KOTLIN",
    levelClass: "w-2/3",
  },
  {
    name: "PYTHON",
    levelClass: "w-4/5",
  },
];
---

<table class="w-full items-center">
  {
    capabilities.map((capability) => (
      <tr class="w-full h-12">
        <td class="text-orange-300 text-right">
          <p class="mr-5">{capability.name}</p>
        </td>
        <td class="w-full">
          <div class={`h-3 bg-orange-500 ${capability.levelClass}`}></div>
        </td>
      </tr>
    ))
  }
</table>
