---
interface Capability {
  name: string;
  levelPercent: number;
}

const capabilities: Capability[] = [
  {
    name: "JAVA",
    levelPercent: 100,
  },
  {
    name: "REACT",
    levelPercent: 80,
  },
  {
    name: "CI/CD",
    levelPercent: 80,
  },
  {
    name: "KUBERNETES",
    levelPercent: 66,
  },
  {
    name: "KAFKA",
    levelPercent: 80,
  },
  {
    name: "KOTLIN",
    levelPercent: 66,
  },
  {
    name: "PYTHON",
    levelPercent: 75,
  },
];
---

<table class="w-full">
  {
    capabilities.map((capability) => (
      <tr class="h-12 w-full">
        <td class="text-right text-secondary">
          <p class="mr-5">{capability.name}</p>
        </td>
        <td class="w-full">
          <div
            style={{ width: capability.levelPercent + "%" }}
            class="h-3 bg-primary"
            aria-label={`${capability.levelPercent}%`}
          />
        </td>
      </tr>
    ))
  }
</table>
