---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BadgeItem from "./BadgeItem.astro";
const certifications = await getCollection("certifications");
---

<div class="cert-wrapper mb-14 inline-flex w-full overflow-x-auto">
  {
    certifications.map((certificationEntry) => (
      <div class="cert-item mx-1">
        <BadgeItem
          href={certificationEntry.data.certificateLink}
          image={certificationEntry.data.image}
          imageAlt={certificationEntry.data.name}
          title={certificationEntry.data.name}
        />
      </div>
    ))
  }
</div>

<style>
  div::-webkit-scrollbar {
    display: none;
  }
</style>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const certItems = entry.target.querySelectorAll(".cert-item");
      certItems.forEach((certItem) => {
        if (entry.isIntersecting) {
          certItem?.classList.add("animate-bounce-left");
          return; // if we added the class, exit the function
        }

        // We're not intersecting, so remove the class!
        certItem?.classList.remove("animate-bounce-left");
      });
    });
  });

  document.addEventListener("astro:after-swap", () => {
    const certWrapper = document.querySelector(".cert-wrapper");
    if (certWrapper) {
      observer.observe(certWrapper);
    }
  });
</script>
