---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BadgeItem from "./BadgeItem.astro";
const certifications = await getCollection("certifications");
---

<div class="mb-14 inline-flex w-full overflow-x-auto">
  {
    certifications.map((certificationEntry) => (
      <div class="mx-1">
        <BadgeItem
          href={certificationEntry.data.certificateLink}
          image={certificationEntry.data.image}
          imageAlt={certificationEntry.data.name}
          title={certificationEntry.data.name}
        />
      </div>
    ))
  }
</div>

<style>
  div::-webkit-scrollbar {
    @apply h-1
  }
  div::-webkit-scrollbar-thumb {
    @apply rounded-md bg-light-accent/50
    }
</style>
