---
import { Icon } from 'astro-icon/components';
---

<footer class="bg-dark sticky top-[100vh] bg-opacity-80">
  <div
    class="mx-auto flex w-full max-w-screen-xl flex-col items-center justify-center p-4 py-4 text-center sm:flex-row sm:justify-between sm:text-left"
  >
    <div class="text-light text-xs md:text-sm">
      <p>
        Developed by Halvor Teigen using <a
          class="underline"
          href="https://astro.build/"
          target="_blank"
          >Astro<Icon
            name="bi:box-arrow-up-right"
            class="inline w-2 align-super md:w-3"
          /></a
        >
      </p>
    </div>
    <div class="mt-4 flex items-center space-x-5 sm:mt-0">
      <a href="https://www.linkedin.com/in/halvor-teigen/" target="_blank">
        <Icon
          class="text-light hover:text-light-accent w-6"
          aria-hidden="true"
          name="bi:linkedin"
        />
        <span class="sr-only">LinkedIn account</span>
      </a>
      <a href="https://github.com/halvorot" target="_blank">
        <Icon
          class="text-light hover:text-light-accent w-6"
          aria-hidden="true"
          name="bi:github"
        />
        <span class="sr-only">GitHub account</span>
      </a>
    </div>
  </div>
</footer>
