---
import { getImage } from "astro:assets";
import { Icon } from "astro-icon";
import H1 from "./H1.astro";
import halvorBackgroundImage from "../assets/images/halvor-bg.jpg";
import H2 from "./H2.astro";

const optimizedHalvorBackgroundImage = await getImage({
  src: halvorBackgroundImage,
});
const halvorBackgroundImageCss = `url(${optimizedHalvorBackgroundImage.src})`;
---

<section class="halvor-bg-section">
  <main class="m-auto p-4 max-w-3xl text-white">
    <div class="flex flex-col items-center mt-16 pt-2">
      <H1 preText="Hi, I'm " gradientText="Halvor Teigen" />
      <H2 text="Backend developer & DevOps enthusiast" />
      <button
        type="button"
        class="animate-pulse"
        aria-hidden="true"
        onclick="
          document.getElementById('ingress-box').scrollIntoView({
            behavior: 'auto',
            block: 'center',
            inline: 'center'
          });
          "
      >
        <Icon name="bi:chevron-compact-down" class="w-10" />
      </button>
    </div>
    <div
      id="ingress-box"
      class="bg-neutral-950 text-center rounded-xl flex flex-col items-center justify-center mb-24 mt-10 py-12 px-3 md:mt-12 md:p-16"
    >
      <Icon name="h-logo" class="w-20 mb-10" alt="Halvor Teigen Logo" />
      <p class="ingress">
        As a software engineer with the <strong
          >everything-can-be-learned</strong
        > mentality, I see every project as an opportunity to further develop my
        skills and knowledge. I am dedicated to producing work that I am proud
        of, and I strive to deliver the best <strong>quality</strong>
         possible. I value collaboration and believe that teamwork and <strong
          >knowledge sharing</strong
        > is the key to success.
      </p>
    </div>
  </main>
</section>

<style define:vars={{halvorBackgroundImageCss}}>
  .ingress strong {
    @apply text-orange-300 opacity-80;
  }

  .halvor-bg-section {
    position: relative;
  }

  .halvor-bg-section::before {
    content: "";
    position: absolute;
    z-index: -10;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: top;
    background-image: var(--halvorBackgroundImageCss);
    background-size: cover; 
    background-repeat: no-repeat;
    opacity: 0.2;
  }
</style>
