---
import PrimaryButton from "./PrimaryButton.astro";
import { Icon } from "astro-icon";

import navData from "../data/navData";
---

<nav class="bg-black bg-opacity-30" transition:persist>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a href="/" class="flex items-center" aria-label="Go Home">
      <Icon name="h-logo" class="w-10 mr-3" alt="Halvor Teigen Logo" />
      <span class="hidden sm:block text-2xl font-semibold text-white capitalize"
        >Halvor Teigen</span
      >
    </a>
    <div class="flex md:order-2">
      <PrimaryButton text="Download CV" ref="/halvor-teigen-cv-english.pdf" />
      <button
        id="menu-btn"
        data-collapse-toggle="navbar-cta"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden focus:outline-none focus:ring-2 text-gray-400 hover:bg-gray-700 focus:ring-gray-600"
        aria-controls="navbar-cta"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <Icon name="bi:list" />
      </button>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-cta"
    >
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 md:flex-row md:space-x-8 md:mt-0 md:border-0 bg-transparent"
      >
        {
          navData.map((item) => (
            <li class="block py-2 pl-3 pr-4 bg-transparent hover:text-orange-300 md:p-0 text-white">
              <a
                id={"nav-link-" + item.path.substring(1)}
                href={item.path}
                target={
                  item.name.toLowerCase() === "contact" ? "_blank" : "_self"
                }
              >
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</nav>
<style>
  [aria-current="page"] {
    @apply text-orange-500;
  }
</style>

<script>
  const setActiveLinkFunc = () => {
    const navLinks = document.querySelectorAll("nav li a");

    navLinks.forEach((link) => {
      link.removeAttribute("aria-current");
    });

    const currentPath = window.location.pathname.substring(1);

    document
      .getElementById("nav-link-" + currentPath)
      ?.setAttribute("aria-current", "page");
      
  };
  document.addEventListener("astro:page-load", setActiveLinkFunc);
  document.addEventListener("astro:after-swap", setActiveLinkFunc);

  document.getElementById("menu-btn")?.addEventListener("click", () => {
    document.getElementById("navbar-cta")?.classList.toggle("hidden");
  });
  document.addEventListener("astro:after-swap", () => {
    document.getElementById("navbar-cta")?.classList.add("hidden");
  });
</script>
