---
interface Props {
  text: string;
  href: string;
  ariaLabel: string;
}

const { text, href, ariaLabel, ...rest } = Astro.props;
---

<button
  type="button"
  class="text-light bg-primary hover:bg-primary-accent focus:ring-primary-accent/80 mr-3 rounded-lg px-4 py-2 text-center text-sm font-medium transition focus:outline-none focus:ring-4 md:mr-0"
  aria-label={ariaLabel}
  {...rest}
>
  <a href={href} target="_blank">{text}</a>
</button>
