---
interface Props {
  text: string;
  href: string;
  ariaLabel: string;
}

const { text, href, ariaLabel, ...rest } = Astro.props;
---

<button
  type="button"
  class="mr-3 rounded-lg bg-light-accent/10 px-4 py-2 text-center text-sm font-medium text-light-accent transition hover:bg-light-accent/5 focus:outline-none focus:ring-2 focus:ring-light-accent/20 md:mr-0"
  aria-label={ariaLabel}
  {...rest}
>
  <a href={href} target="_blank">{text}</a>
</button>
