---
interface Props {
  text: string;
  classes?: string;
}

const { text, classes, ...rest } = Astro.props;
---

<div
  class={`bg-dark/60 text-light text-sm px-2 pb-0.5 rounded-md ${classes}`}
  {...rest}
>
  {text}
</div>
