---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import CommonHead from "../components/CommonHead.astro";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <CommonHead title={title}/>
  <body class="mx-auto max-w-screen-2xl">
    <Navigation />
    <slot />
    <Footer />
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
        background: #111724;
        background-size: 224px;
        scroll-behavior: smooth;
      }
      body {
        position: relative;
        margin: 0px;
        min-height: 100vh;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
