---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import CommonHead from "../components/CommonHead.astro";
import CookieConsent from "../components/CookieConsent";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth bg-[#111724] font-sans">
  <CommonHead title={title} />
  <body class="relative m-0 mx-auto min-h-screen max-w-screen-2xl">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5QF23X8M"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      >
      </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <Navigation />
    <slot />
    <Footer />
    <CookieConsent client:load />
  </body>
</html>
