---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import CommonHead from "../components/CommonHead.astro";
import CookieConsent from "../components/CookieConsent";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <CommonHead title={title}/>
  <body class="mx-auto max-w-screen-2xl">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5QF23X8M"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      >
      </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <Navigation />
    <slot />
    <Footer />
    <CookieConsent client:load />
  </body>
</html>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background: #111724;
    background-size: 224px;
    scroll-behavior: smooth;
  }
  body {
    position: relative;
    margin: 0px;
    min-height: 100vh;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>